@import 'styles/variables';

.wrapper {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: $secondary-color;
  border-bottom: $thickness solid $primary-color;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.buttonContainer > button {
  margin-left: 20px;
}
