$font-size: (
  'sm': 1.4rem,
  'md': 2rem,
  'lg': 2.5rem,
);
$align: (left, center, right);

.heading {
  @each $name, $value in $font-size {
    &__fontSize--#{$name} {
      font-size: $value;
    }
  }

  @each $value in $align {
    &__align--#{$value} {
      text-align: $value;
    }
  }
}
