.sm {
  font-size: 1.4rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 2.5rem;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}
