@import 'styles/variables';

$input-max-width: 320px;
$input-height: 44px;

.wrapper {
  max-width: $input-max-width;
}

.wrapper.invalid {
  .textfield {
    color: $error-color;
    border: $thickness solid $error-color;
  }

  .label {
    color: $error-color;
  }
}

.textfield {
  width: 100%;
  max-width: $input-max-width;
  height: $input-height;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: $thickness solid $primary-color;
}

.label {
  display: block;
}
